[submodule ".emacs.d/ggtags"]
	path = .emacs.d/ggtags
	url = https://github.com/leoliu/ggtags.git
[submodule ".emacs.d/php-mode"]
	path = .emacs.d/php-mode
	url = git@github.com:ejmr/php-mode.git
[submodule "electric"]
	path = electric
	url = https://github.com/edwinallenz/php-electric.el.git
[submodule ".emacs.d/electric"]
	path = .emacs.d/electric
	url = https://github.com/edwinallenz/php-electric.el.git
[submodule ".emacs.d/w3m"]
	path = .emacs.d/w3m
	url = https://github.com/emacsmirror/w3m
[submodule ".emacs.d/puppet"]
	path = .emacs.d/puppet
	url = https://github.com/puppetlabs/puppet-syntax-emacs
